h1{
    text-align: center;
}
.container{
    text-align: center;
}
ul, li{
    display: inline-block;
    font-size: 24px;
    font-style: italic;
    background-color: rgba(155, 109, 24, 0.24);
    padding: 20px 100px;
}